<div class="home-main">
  <div class="home-info-panel group">


    <div class="home-profile-picture">
      <%if (user.escape('img_url')) {%>
        <img src="<%=user.escape('img_url')%>"><br>
      <%} else {%>
        <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282"><br>
      <%}%>
    </div>



    <div class="home-user-info-container">
      <name class="user-name"><%= user.escape("fname") %> <%= user.escape("lname") %></name><br>
      Title: <%= user.escape("title") %><br>
      email: <%= user.escape("email") %><br>
    </div>

    <div class="edit-and-connect-container">

      <div class="edit-button-container">
        <a href="#" class="edit-info-button">Edit Personal Info<a>
      </div>

      <div class="home-connection-number-container">
        <% if (user.attributes.connections) {%>
          <b><%= user.attributes.connections.length %></b> Connections
        <% } %>
      </div>

    </div>

  </div>


  <div class="home-user-panel">
    <div class="home-user-corner">Connect with others</div>

    <div class="people-you-may-know-word">People you may know</div>

    <div class="random-users-container group">
      <% randoms.each(function (random) { %>
        <div class="random-users-item">
          <a href="#profile/<%=random.id%>">
          <%if (random.escape('img_url')) {%>
            <img class="home-random-profile-picture" src="<%=random.escape('img_url')%>"><br>
          <%} else {%>
            <img class=home-random-profile-picture src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282"><br>
          <%}%>

          <%=random.escape("fname") + " " + random.escape("lname")%><br></a>
          <div class="random-description"><%=random.escape("title")%></div>
        </div>

      <%})%>
    </div>

  </div>

<div class="search-map-container">
  <div class="home-search-corner">Search for jobs</div>
    <iframe
      class="search-map"
      width="600"
      height="450"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKt4b3zydVN4-pCauMkHDRVs37Bu-MTIM&q=<%=searchString%>" allowfullscreen>
    </iframe>
    <form class="search-form">
      <input type="text" name="searchString">
      <button class="submit-search-button">Search</button>
    </form>

</div>



</div>

<div class="home-right"></div>
