<form>
  <label>email
    <input type="text" name="user[email]" value="<%=user.escape('email')%>" class="email">
  </label>
  <label>First Name
    <input type="text" name="user[fname]" value="<%=user.escape('fname')%>" class="fname">
  </label>
  <label>Last Name
    <input type="text" name="user[lname]" value="<%=user.escape('lname')%>" class="lname">
  </label>
  <label>Title
    <input type="text" name="user[title]" value="<%=user.escape('title')%>" class="title">
  </label>
  <label>Employer
    <input type="text" name="user[employer]" value="<%=user.escape('employer')%>" class="employer">
  </label>
  <label>Summary
    <textarea name="user[summary]" class="summary"><%=user.escape('summary')%></textarea>
  </label>
  <button class="submit">Submit</button>
</form>
