
<div class="bar-right">

  <div class="icon-container">


    <div class="big">
      <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11403468_10153476145337095_558162696017531308_n.jpg?oh=7a04a1322dded8eef76714bcf960d769&oe=560FF7B5" class="icon">
        <ul class="list">
          <li>stuff goes here</li>
        </ul>
    </div>

    <div class="big">
      <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10500475_10153476127447095_4419448468542023792_n.jpg?oh=8d37206da2fcb71183cf7ca66108ccf6&oe=5655666D" class="icon">
        <ul class="list">
          <% if current_user.requests.length == 0 %>
              <li>You have no pending requests.</li>
          <% else %>
              <% current_user.requests.each_with_index do |requester, idx| %>
                <li>
                  <b><a href="#profile/<%=requester.id%>"><%= requester.fname + " " + requester.lname%></a></b> wants to connect with you!
                  <div id="<%=idx%>">
                    <button class="accept-button" sender-id="<%=requester.id%>" responder-id="<%=current_user.id%>" form-id="<%=idx%>">Accept</button>
                    <button class="deny-button" sender-id="<%=requester.id%>" responder-id="<%=current_user.id%>" form-id="<%=idx%>">Deny</button>
                  </div>
                </li>
              <% end %>
          <% end %>
        </ul>
    </div>

<script>
  $(".accept-button").on("click", function (event) {
    $(event.target).prop("disabled", true)
    $.ajax({
      url: "/request/destroy/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })

    $.ajax({
      url: "/request/destroy/" + $(event.target).attr("responder-id") + "/" + $(event.target).attr("sender-id"),
      method: "POST"
    })


    $("#" + $(event.target).attr("form-id")).html("You have accepted this request.")

    $.ajax({
      url: "/connections/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })

  })

  $(".deny-button").on("click", function (event){
    $(event.target).prop("disabled", true)
    $.ajax({
      url: "/request/destroy/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })
    $("#" + $(event.target).attr("form-id")).html("You have denied this request.")
  })
</script>


  </div>
  <form action="/session" method="POST" class="logout-button">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="logout-button">Log Out</button>
  </form>
</div>
