
<div class="bar-right">
  <% if logged_in? %>

  <div class="icon-container">


    <div class="big">
      <div id="messages" class="icon">M</div>
        <ul class="list">
          <li>adsgager</li>
          <li>aawervaer</li>
          <li>adsgager</li>
          <li>aawervaer</li>
          <li>adsgager</li>
          <li>aawervaer</li>
        </ul>
    </div>

    <div class="big">
      <div id="notifications" class="icon">N</div>
        <ul class="list">
          <li>ddddddd</li>
          <li>aawervaer</li>
          <li>adddddder</li>
          <li>adsgzzzzzer</li>
          <li>zzzzzzzzz</li>
        </ul>
    </div>

    <div class="big">
      <div id="Request" class="icon">R</div>
        <ul class="list">
          <% if current_user.requests.length == 0 %>
              <li>You have no pending requests.</li>
          <% else %>
              <% current_user.requests.each_with_index do |requester, idx| %>
                <li>
                  <b><%= requester.fname + " " + requester.lname%></b> wants to connect with you!
                  <div id="<%=idx%>">
                    <button class="accept-button" sender-id="<%=requester.id%>" responder-id="<%=current_user.id%>" form-id="<%=idx%>">Accept</button>
                    <button class="deny-button" sender-id="<%=requester.id%>" responder-id="<%=current_user.id%>" form-id="<%=idx%>">Deny</button>
                  </div>
                </li>
              <% end %>
          <% end %>
        </ul>
    </div>

<script>
  $(".accept-button").on("click", function (event) {

    $.ajax({
      url: "/request/destroy/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })
    $("#" + $(event.target).attr("form-id")).html("You have accepted this request.")

    $.ajax({
      url: "/connections/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })

  })

  $(".accept-button").on("click", function (event) {
    $(event.target).prop("disabled", true)
  })

  $(".deny-button").on("click", function (event){
    $.ajax({
      url: "/request/destroy/" + $(event.target).attr("sender-id") + "/" + $(event.target).attr("responder-id"),
      method: "POST"
    })
    $("#" + $(event.target).attr("form-id")).html("You have denied this request.")
  })
</script>


  </div>
  <form action="/session" method="POST" class="logout-button">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="logout-button">Log Out</button>
  </form>

  <% else %>

  <form action="/session" method="POST" class="login-from-bar">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label> Email:
      <input type="text" name="email">
    </label>
    <label>Password:
      <input type="password" name="password">
    </label>
    <button>Sign In</button>
  </form>
  <% end %>
</div>

<script>
  $("form").on("submit", function () {
    $("button").prop("disabled", true)
  })
</script>
