<form class='edit-experience-form' data-id="<%=experience.id%>">
  <b>Title</b> * <input type='text' name='title' value="<%=experience.title%>"><br>

  <b>Employer</b> * <input type='text' name='employer' value="<%=experience.employer%>"><br>

  <b>Start date</b> <input type='date' name='start_date' value="<%=experience.start_date%>"><br>

  <b>End date</b> <input type='date' name='end_date' value="<%=experience.end_date%>"><br>

  <b>Description</b> <textarea name='description'><%= experience.description %></textarea><br>

  <button class="ex-edit-save" form-name="edit-experience-form" data-id="<%=experience.id%>">Save</button>   <button class="ex-edit-cancel">Cancel</button>

</form>
