
<% if (experiences.length === 0) {%>
  No experiences to show.
<%} else {%>


  <% experiences.forEach( function (experience) { %>

    <div class="experience-panel-item">
      <h3><%= experience.employer %></h3>
      Title: <%=experience.title%><br>
      <%=experience.description%>
      <br>
      <% if (experience.start_date) {%>
        <% if (experience.current) {%>
          <%=experience.start_date%> to present
        <%} else {%>
          <% if (experience.end_date){%>
            <%=experience.start_date%> to <%=experience.end_date%>
          <%}%>
        <%}%>
      <%}%>
    </div>
  <% }) %>
<%}%>

<% if ($(".profile-container").attr("user-id") === $(".profile-container").attr("current-id")) {%>
  <button class="add-experience-button">Add a new experience</button>
<%}%>
