<h1><%= user.escape("fname") %> <%= user.escape("lname") %></h1>
<div class="user-info">
  Title: <%= user.escape("title") %><br>
  email: <%= user.escape("email") %><br>
</div>

<div class="connections">
  <% if (user.attributes.connections){ %>
  <%= user.attributes.connections.length %><br>
  <% } %>
  connections
</div>

<% if ((currentId !== 0)&&(currentId !== user.id)) { %>
  <% if (requested) {%>
    Request Sent!!
  <%} else { %>
    <button class="connect-button">Connect</button>
    <% } %>
<% } %>
