<h1>Info Panel template</h1>
<div class="user-info">
  email: <%= user.escape("email") %><br>
  First Name: <%= user.escape("fname") %><br>
  Last Name: <%= user.escape("lname") %><br>
  Title: <%= user.escape("title") %><br>
</div>

<div class="connections">

  <% if (user.attributes.connections){ %>
  <%= user.attributes.connections.length %><br>
  <% } %>
  connections
</div>
