<form class='new-experience-form'>
  Title: <input type='text' name='title' value="<%=experience.title%>"><br>

  Employer: <input type='text' name='employer' value="<%=experience.employer%>"><br>

  Start date: <input type='date' name='start_date' value="<%=experience.start_date%>"><br>

  End date: <input type='date' name='end_date' value="<%=experience.end_date%>"><br>

  Description: <textarea name='description'><%= experience.description %></textarea><br>

  <button>submit</button>

</form>
