<form class='new-experience-form'>
  Title * <br> <input type='text' name='title' value="<%=experience.title%>"><br><br>

  Employer * <br> <input type='text' name='employer' value="<%=experience.employer%>"><br><br>

  Start date <br><input type='date' name='start_date' value="<%=experience.start_date%>"><br><br>

  End date <br><input type='date' name='end_date' value="<%=experience.end_date%>"><br><br>

  Description <br><textarea name='description'><%= experience.description %></textarea><br><br>

  <button class="save-button">Save</button>  <button class="cancel-button">Cancel</button>

</form>
