
<div class="profile-container group" user-id="<%=userId%>">
  <div class="profile-main">

    <div class="profile-info group">


      <div class="profile-profile-picture">
        <% if (user.escape("img_url")) { %>
          <img src="<%=user.escape('img_url')%>">
        <%} else {%>
          <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282">
        <%}%>
      </div>



      <div class="profile-user-info-container">
              <name><%= user.escape("fname") %> <%= user.escape("lname") %></name>
          <div class="user-info">
            <b>Title:</b> <%= user.escape("title") %><br>
            <b>email:</b> <%= user.escape("email") %><br>
          </div>


          <% if ((currentId !== 0)&&(currentId !== user.id)) { %>
            <% if (requested) {%>
              Request Sent!!
            <%} else if (connected) { %>
              You are connected with <%=user.escape("fname")%>
            <% } else { %>
              <button class="connect-button">Connect</button>
              <% } %>
          <% } %>
      </div>

      <div class="connections">
        <% if (user.attributes.connections){ %>
        <b><%= user.attributes.connections.length %></b><br>
        <% } %>
        connections
      </div>

    </div>




      <div class="profile-experiences">
        <corner><%=user.escape("fname")%>'s background</corner><br>
        <%if (user.escape("summary")) {%>
          <h2 class="experience-word">Summary</h2>
          <div class="summary"><%=user.escape("summary")%></div>
        <%}%>
        <h2 class="experience-word">Experience</h2>
          <div class="profile-experiences-list">
            <% if (experiences.length === 0) {%>
              No experiences to show.
            <%} else {%>
              <% experiences.forEach( function (experience) { %>

                <div class="experience-panel-item ex<%=experience.id%>" data-id="<%=experience.id%>">

                    <div class="icon-employer-container group">
                      <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11012055_10153480090967095_6732516601998388768_n.jpg?oh=d22fc664adb669e167946f7d97f047f8&oe=56183AA7">
                      <h2 class="employer"><%= experience.employer %></h2>
                    </div>

                  <div class="title"><%=experience.title%></div><br>
                  <div class="description"><%=experience.description%></div>
                  <br>
                      <% if (experience.start_date && experience.end_date){%>
                        <div class="date-section"><%=experience.start_date%> to <%=experience.end_date%></div>
                      <%}%>
                      <% if (experience.start_date && !experience.end_date){%>
                        <div class="date-section"><%=experience.start_date%> to Present</div>
                      <%}%>
                  </div>
                <% if (userId === currentId) {%>
                  <button class="delete-experience-button" experience-id="<%=experience.id%>">Remove</button>
                <%}%>
              <% }) %>

            <%}%>
          </div>


          <% if (userId === currentId) {%>
            <div class="add-experience-button">Add a new experience</div>
            <script>$(".experience-panel-item").addClass("editable-experience")</script>
          <%}%>

          <div class="new-ex-form-container">
            <form class='new-experience-form'>
              <b>Title</b> * <br> <input type='text' name='title'><br><br>

              <b>Employer</b> * <br> <input type='text' name='employer'><br><br>

              <b>Start date</b> <br><input type='date' name='start_date'><br><br>

              <b>End date</b> (leave black if current employer) <br><input type='date' name='end_date'><br><br>

              <b>Description</b> <br><textarea name='description'></textarea><br><br>

              <button class="save-button">Save</button>  <button class="cancel-button">Cancel</button>

            </form>
          </div>




      </div>




      <div class="profile-education">
          <corner><%=user.escape("fname")%>'s education</corner><br>
          <h2 class="experience-word">Education</h2>
          <div class="education-list">
            <% if (educations.length === 0) {%>
                No education to show.
              <%} else {%>
                <% educations.forEach( function (education) {%>
                  <div class="education-item ed<%=education.id%>" data-id="<%=education.id%>">

                    <div class="icon-school-container group">
                      <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11760045_10153483727977095_737193128238210012_n.jpg?oh=79bda97989b4bd23dd1e58cbeeb96c23&oe=56503190">
                      <h2 class="school"><%=education.school%></h2>
                    </div>
                    <div class="field"><%=education.field%></div>
                    <% if ((education.graduation_year) && (education.graduation_year > 0)) {%>
                      <div> Graduated in <b class="year"><%= education.graduation_year %></b></div>
                    <%}%>
                  </div>
                  <% if (userId === currentId) {%>
                    <button class="delete-education-button" education-id="<%=education.id%>">Remove</button>
                  <%}%>
                <% }) %>

              <%}%>

          </div>
          <% if (userId === currentId) {%>
            <div class="add-education-button">Add Education</div>
            <script> $(".education-item").addClass("editable-education") </script>
          <%}%>
      </div>
          <div class="invisible-container-280">
            <div class="new-ed-form-container">
              <form class='new-education-form'>
                <b>School</b> * <br> <input type='text' name='school'><br><br>

                <b>Field of Study</b><br> <input type='text' name='field'><br><br>

                <b>Guaduation Year</b> <br><input type='year' name='graduation_year'><br><br>

                <button class="esave-button">Save</button>  <button class="ecancel-button">Cancel</button>

              </form>
            </div>
          </div>




  </div>






<div class="profile-right">

  <div class="connections-panel">
    <corner><%=user.escape("fname")%>'s connections ( <%=user.escape("connections") ? user.attributes.connections.length : 0%> )</corner><br>
      <div class="profile-connections-list">

          <% if (connections.length === 0){ %>
            <%=user.escape("fname")%> has no connections.
            <%} else {%>
            <% connections.forEach(function (connection) {%>
              <div class="profile-connections-list-item group">
                  <a href="#profile/<%=connection.id%>">
                    <% if (connection.img_url) { %>
                      <img class="small-profile-picture" src="<%=connection.img_url%>">
                    <%} else {%>
                      <img class="small-profile-picture" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282">
                    <%}%>
                  </a>
                  <a href="#profile/<%=connection.id%>"><%= connection.fname + " " + connection.lname %></a>
                  <div class="small-title"><%=connection.title%></div>
              </div>
            <%})%>
          <%}%>

    </div>

    <div class="connections-panel-bottom group">
      <a href="#connections/<%=userId%>">View All</a>
    </div>

  </div>

</div>




</div>
