
<div class="profile-container group" user-id="<%=userId%>">
  <div class="profile-main">

    <div class="profile-info group">
      <div class="profile-profile-picture">profile picture</div>
      <div class="profile-user-info-container">
              <name><%= user.escape("fname") %> <%= user.escape("lname") %></name>
          <div class="user-info">
            Title: <%= user.escape("title") %><br>
            email: <%= user.escape("email") %><br>
          </div>


          <% if ((currentId !== 0)&&(currentId !== user.id)) { %>
            <% if (requested) {%>
              Request Sent!!
            <%} else if (connected) { %>
              You are connected with <%=user.escape("fname")%>
            <% } else { %>
              <button class="connect-button">Connect</button>
              <% } %>
          <% } %>
      </div>

      <div class="connections">
        <% if (user.attributes.connections){ %>
        <b><%= user.attributes.connections.length %></b><br>
        <% } %>
        connections
      </div>

    </div>




      <div class="profile-experiences">
        <corner><%=user.escape("fname")%>'s background</corner><br>
        <h2 class="experience-word">Experience</h2>
          <div class="profile-experiences-list">
            <% if (experiences.length === 0) {%>
              No experiences to show.
            <%} else {%>
              <% experiences.forEach( function (experience) { %>

                <div class="experience-panel-item <%=experience.id%>">
                  <h3 class="employer"><%= experience.employer %></h3>
                  Title: <div class="title"><%=experience.title%></div><br>
                  <div class="description"><%=experience.description%></div>
                  <br>
                  <% if (experience.start_date) {%>
                    <% if (experience.current) {%>
                      <div class="start"><%=experience.start_date%></div> to present
                    <%} else {%>
                      <% if (experience.end_date){%>
                        <div class="start"><%=experience.start_date%></div> to <div class="end"><%=experience.end_date%></div>
                      <%}%>
                    <%}%>
                  <%}%>

                  <% if (userId === currentId) {%>
                    <br>
                    <button class="delete-experience-button" experience-id="<%=experience.id%>">Remove</button>

                    <button class="edit-experience-button" experience-id="<%=experience.id%>">Edit</button>
                  <%}%>

                </div>

              <% }) %>

            <%}%>
          </div>


          <% if (userId === currentId) {%>
            <div class="add-experience-button">Add a new experience</div>
          <%}%>
      </div>




      <div class="profile-education">
          <corner><%=user.escape("fname")%>'s' education</corner><br>
      </div>
  </div>


<div class="profile-right">

  <div class="connections-panel">
    <corner><%=user.escape("fname")%>'s connections ( <%=connections.length%> )</corner><br>
      <div class="profile-connections-list">

          <% if (connections.length === 0){ %>
            <%=user.escape("fname")%> has no connections.
            <%} else {%>
            <% connections.forEach(function (connection) {%>
              <div class="profile-connections-list-item group">
                  <a href="#profile/<%=connection.id%>"><img src="" class="small-profile-picture"></a>
                  <a href="#profile/<%=connection.id%>"><%= connection.fname + " " + connection.lname %></a>
                  <div class="small-title"><%=connection.title%></div>
              </div>
            <%})%>
          <%}%>

    </div>

    <div class="connections-panel-bottom group">
      <a href="#connections">View All</a>
    </div>

  </div>

</div>




</div>
