
<div class="profile-container group" user-id="<%=userId%>">
  <div class="profile-main">

    <div class="profile-info group">


      <div class="profile-profile-picture">
        <% if (user.escape("img-url")) { %>
          <img src="<%=user.escape('img_url')%>">
        <%} else {%>
          <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282">
        <%}%>
      </div>


      <div class="profile-user-info-container">
              <name><%= user.escape("fname") %> <%= user.escape("lname") %></name>
          <div class="user-info">
            Title: <%= user.escape("title") %><br>
            email: <%= user.escape("email") %><br>
          </div>


          <% if ((currentId !== 0)&&(currentId !== user.id)) { %>
            <% if (requested) {%>
              Request Sent!!
            <%} else if (connected) { %>
              You are connected with <%=user.escape("fname")%>
            <% } else { %>
              <button class="connect-button">Connect</button>
              <% } %>
          <% } %>
      </div>

      <div class="connections">
        <% if (user.attributes.connections){ %>
        <b><%= user.attributes.connections.length %></b><br>
        <% } %>
        connections
      </div>

    </div>




      <div class="profile-experiences">
        <corner><%=user.escape("fname")%>'s background</corner><br>
        <%if (user.escape("summary")) {%>
          <h2 class="experience-word">Summary</h2>
          <div class="summary"><%=user.escape("summary")%></div>
        <%}%>
        <h2 class="experience-word">Experience</h2>
          <div class="profile-experiences-list">
            <% if (experiences.length === 0) {%>
              No experiences to show.
            <%} else {%>
              <% experiences.forEach( function (experience) { %>

                <div class="experience-panel-item ex<%=experience.id%>">

                    <div class="icon-employer-container group">
                      <img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11012055_10153480090967095_6732516601998388768_n.jpg?oh=d22fc664adb669e167946f7d97f047f8&oe=56183AA7">
                      <h2 class="employer"><%= experience.employer %></h2>
                    </div>

                  <div class="title"><%=experience.title%></div><br>
                  <div class="description"><%=experience.description%></div>
                  <br>
                      <% if (experience.start_date && experience.end_date){%>
                        <div class="date-section"><%=experience.start_date%> to <%=experience.end_date%></div>
                      <%}%>
                      <% if (experience.start_date && !experience.end_date){%>
                        <div class="date-section"><%=experience.start_date%> to Present</div>
                      <%}%>

                  <% if (userId === currentId) {%>
                    <br>
                    <button class="delete-experience-button" experience-id="<%=experience.id%>">Remove</button>

                    <button class="edit-experience-button" experience-id="<%=experience.id%>">Edit</button>
                  <%}%>

                </div>

              <% }) %>

            <%}%>
          </div>


          <% if (userId === currentId) {%>
            <div class="add-experience-button">Add a new experience</div>
          <%}%>
      </div>




      <div class="profile-education">
          <corner><%=user.escape("fname")%>'s' education</corner><br>
          <h2 class="experience-word">Education</h2>
          <div class="education-list">
            <% if (educations.length === 0) {%>
                No education to show.
              <%} else {%>
                <% educations.forEach( function (education) {%>
                  <div class="education-item ed<%=education.id%>">

                    <h2 class="school"><%=education.school%></h2>
                    <div class="field"><%=education.field%></div>
                    <% if (education.graduation_year) {%>
                      <div class="year"> Graduated in <b><%= education.graduation_year %></b></div>
                    <%}%>

                    <% if (userId === currentId) {%>
                      <button class="delete-education-button" education-id="<%=education.id%>">Remove</button>
                    <%}%>

                  </div>
                <% }) %>

              <%}%>

          </div>
          <% if (userId === currentId) {%>
            <div class="add-education-button">Add Education</div>
          <%}%>
      </div>



  </div>






<div class="profile-right">

  <div class="connections-panel">
    <corner><%=user.escape("fname")%>'s connections ( <%=connections.length%> )</corner><br>
      <div class="profile-connections-list">

          <% if (connections.length === 0){ %>
            <%=user.escape("fname")%> has no connections.
            <%} else {%>
            <% connections.forEach(function (connection) {%>
              <div class="profile-connections-list-item group">
                  <a href="#profile/<%=connection.id%>">
                    <% if (user.escape("img-url")) { %>
                      <img class="small-profile-picture" src="<%=user.escape('img_url')%>">
                    <%} else {%>
                      <img class="small-profile-picture" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11700831_10153479851122095_4006613064403614225_n.jpg?oh=4b411779d59b81fe9a8fa539ff375604&oe=56565282">
                    <%}%>
                  </a>
                  <a href="#profile/<%=connection.id%>"><%= connection.fname + " " + connection.lname %></a>
                  <div class="small-title"><%=connection.title%></div>
              </div>
            <%})%>
          <%}%>

    </div>

    <div class="connections-panel-bottom group">
      <a href="#connections">View All</a>
    </div>

  </div>

</div>




</div>
